{% extends "layout.html" %}
{% block content %}
<h2>Elden Ring</h2>
<h6>"Восстань, Погасшая душа! Междуземье ждёт своего повелителя.
Пусть благодать приведёт тебя к Кольцу Элден". </h6>
<p>Elden Ring (рус. «Кольцо Элдена») — компьютерная игра в жанре action/RPG,
    созданная студией FromSoftware. Игра была анонсирована 9 июня 2019 года и выпущена 25 февраля 2022 года.</p>
<h2>Сюжет</h2>
<p>Как и в играх серии Dark Souls, Elden Ring представляет собой фэнтезийную игру в сеттинге западного средневековья.
    Действие игры происходит в Междуземье — стране, которой правит Королева Марика Вечная.
    В прошлом жизнь Междуземья зависела от Кольца Элден, из которого произрастает Мировое древо.
    Они оба наделяли земли «золотым светом» — особого рода благодатью, посылаемой всем обитателям этой страны, великим и малым.
    Носители света узнавали друг друга по свету в глазах, а тех, кто утратил свет благодати,
    называли Погасшими и изгоняли прочь — среди этих изгнанников были и предки игрового персонажа.
    Когда Кольцо было разбито, полубоги-герои, потомки Марики, разделили между собой его осколки,
    известные как Великие руны. Они получили огромные силы — каждый свои;
    но присущая этим обломкам порча свела их с ума, и они вступили в междоусобную войну,
    известную как Раскол. Протагонист — Погасший — был в прошлом изгнан из Междуземья в далёкие края, но после того,
    как Кольцо Элден было разбито, он услышал путеводный зов, направленный обратно, и ощутил утраченную его предками благодать.
    Герой возвращается, чтобы заполучить силу Кольца Элден и самому стать владыкой.</p>
{% endblock %}
